
# LlamaIndex Core
llama-index-core
llama-index-readers-file

# Azure OpenAI
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai

# Vector Store
llama-index-vector-stores-chroma
chromadb


# API Layer
fastapi
pydantic
websockets
uvicorn

azure-core
langgraph
langchain
langchain-core
langchain-openai
langchain_chroma
openai
pymupdf
python-dotenv
tqdm
colorama
tavily
httpx[http2]
Streamlit
redis==5.2.0 
langgraph-cli==0.4.18

